{% extends 'website/base.html' %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block content_parent %}
    <div class="background-caption">
        <h1>EXALTERS</h1>
    </div>

    <!-- Hero Caption -->
    <div class="hero-caption">
        <h1>EXARTH</h1>
        <h2>An Oath we have taken</h2>
        <a href="shop.html" class="button big-button primary-button upper-button rounded raised">Start shopping</a>
    </div>

    <!-- Fullscreen Slick SLider -->
    <div class="slider-wrapper">
        <div class="fullscreen-slick">
            <div class="full-slide has-background-image" data-background="http://via.placeholder.com/1920x1080"
                 data-demo-background='{% static "website/img/bg/main-bg.jpg" %}'></div>
            <div class="full-slide has-background-image" data-background="http://via.placeholder.com/1920x1080"
                 data-demo-background='{% static "website/img/bg/main-bg.jpg" %}'></div>
            <div class="full-slide has-background-image" data-background="http://via.placeholder.com/1920x1080"
                 data-demo-background='{% static "website/img/bg/main-bg.jpg" %}'></div>
            <div class="full-slide has-background-image" data-background="http://via.placeholder.com/1920x1080"
                 data-demo-background='{% static "website/img/bg/main-bg.jpg" %}'></div>
        </div>
    </div>
{% endblock %}