{% extends 'website/base.html' %}
{% load static %}

{% block content %}
    <div class="columns category-header">
        <div class="column main-column is-tablet-landscape-padded">
            <!-- Title -->
            <div class="category-title no-border is-padded">
                <h2>SHOP</h2>
                <img class="brand-filigrane" src="{% static 'website/img/logo/nephos-greyscale.svg' %}" alt="">
            </div>

            <div class="is-categories-grid">
                <!-- Tile Grid -->
                <div class="tile is-ancestor">
                    <div class="tile is-vertical is-8">
                        <div class="tile">
                            <div class="tile is-parent is-vertical">
                                <!-- Accessories Tile -->
                                <article class="tile is-child has-background-image"
                                         data-background="https://nephos.cssninja.io/assets/img/bg/accessories.jpeg"
                                         data-demo-background="https://nephos.cssninja.io/assets/img/bg/accessories.jpeg" onclick="return true"
                                         style="background-image: url(https://nephos.cssninja.io/assets/img/bg/accessories.jpeg);">
                                    <div class="tile-content is-small">
                                        <!-- Category name -->
                                        <h2 class="shop-category is-small">Accessories</h2>
                                        <!-- Animated divider -->
                                        <div class="divider"></div>
                                        <!-- Category subtitle -->
                                        <p>Inner Comfort</p>
                                        <!-- Category description -->
                                        <p class="is-italic">Finest products collected amongst the countrie's best
                                            artisans.</p>
                                        <!-- Products number -->
                                        <div class="products is-absolute">
                                            119 <span>Products</span>
                                        </div>
                                        <!-- View category link -->
                                        <a href="products.html" class="action">
                                            <span>Discover</span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                 stroke-linecap="round" stroke-linejoin="round"
                                                 class="feather feather-chevron-right">
                                                <polyline points="9 18 15 12 9 6"></polyline>
                                            </svg>
                                        </a>
                                    </div>
                                    <!-- Overlay -->
                                    <div class="tile-overlay"></div>
                                </article>
                                <!-- Kitchen Tile -->
                                <article class="tile is-child has-background-image"
                                         data-background="https://nephos.cssninja.io/assets/img/bg/kitchen.jpeg"
                                         data-demo-background="https://nephos.cssninja.io/assets/img/bg/kitchen.jpeg" onclick="return true"
                                         style="background-image: url(https://nephos.cssninja.io/assets/img/bg/kitchen.jpeg);">
                                    <div class="tile-content is-small">
                                        <h2 class="shop-category is-small">Kitchen</h2>
                                        <div class="divider"></div>
                                        <p>Inner Comfort</p>
                                        <p class="is-italic">Finest products collected amongst the countrie's best
                                            artisans.</p>
                                        <div class="products is-absolute">
                                            187 <span>Products</span>
                                        </div>
                                        <a href="products.html" class="action">
                                            <span>Discover</span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                 stroke-linecap="round" stroke-linejoin="round"
                                                 class="feather feather-chevron-right">
                                                <polyline points="9 18 15 12 9 6"></polyline>
                                            </svg>
                                        </a>
                                    </div>
                                    <!-- Overlay -->
                                    <div class="tile-overlay"></div>
                                </article>
                            </div>
                            <!-- House Tile -->
                            <div class="tile is-parent">
                                <article class="tile is-child has-min-height has-background-image"
                                         data-background="https://nephos.cssninja.io/assets/img/bg/house.jpeg"
                                         data-demo-background="https://nephos.cssninja.io/assets/img/bg/house.jpeg" onclick="return true"
                                         style="background-image: url(https://nephos.cssninja.io/assets/img/bg/house.jpeg);">
                                    <div class="tile-content">
                                        <h2 class="shop-category">House</h2>
                                        <div class="divider"></div>
                                        <p>Inner Comfort</p>
                                        <p class="is-italic">Finest products collected amongst the countrie's best
                                            artisans.</p>
                                        <div class="products">
                                            268 <span>Products</span>
                                        </div>
                                        <a href="products.html" class="action">
                                            <span>Discover</span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                 stroke-linecap="round" stroke-linejoin="round"
                                                 class="feather feather-chevron-right">
                                                <polyline points="9 18 15 12 9 6"></polyline>
                                            </svg>
                                        </a>
                                    </div>
                                    <!-- Overlay -->
                                    <div class="tile-overlay"></div>
                                </article>
                            </div>
                        </div>
                        <!-- Kids Tile -->
                        <div class="tile is-parent">
                            <article class="tile is-child is-danger has-min-height has-background-image"
                                     data-background="https://nephos.cssninja.io/assets/img/bg/kids.jpeg"
                                     data-demo-background="https://nephos.cssninja.io/assets/img/bg/kids.jpeg" onclick="return true"
                                     style="background-image: url(https://nephos.cssninja.io/assets/img/bg/kids.jpeg);">
                                <div class="tile-content">
                                    <h2 class="shop-category">For kids</h2>
                                    <div class="divider"></div>
                                    <p>Their Playground</p>
                                    <p class="is-italic">Finest products collected amongst the countrie's best
                                        artisans.</p>
                                    <div class="products">
                                        376 <span>Products</span>
                                    </div>
                                    <a href="products.html" class="action">
                                        <span>Discover</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                             stroke-linecap="round" stroke-linejoin="round"
                                             class="feather feather-chevron-right">
                                            <polyline points="9 18 15 12 9 6"></polyline>
                                        </svg>
                                    </a>
                                </div>
                                <!-- Overlay -->
                                <div class="tile-overlay"></div>
                            </article>
                        </div>
                    </div>
                    <!-- Office Tile -->
                    <div class="tile is-parent">
                        <article class="tile is-child has-background-image" data-background="https://nephos.cssninja.io/assets/img/bg/office.jpeg"
                                 data-demo-background="https://nephos.cssninja.io/assets/img/bg/office.jpeg" onclick="return true"
                                 style="background-image: url(https://nephos.cssninja.io/assets/img/bg/office.jpeg);">
                            <div class="tile-content">
                                <h2 class="shop-category">Office</h2>
                                <div class="divider"></div>
                                <p>Premium Office furniture</p>
                                <p class="is-italic">Finest products collected amongst the countrie's best artisans.</p>
                                <div class="products">
                                    391 <span>Products</span>
                                </div>
                                <a href="products.html" class="action">
                                    <span>Discover</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                         stroke-linejoin="round" class="feather feather-chevron-right">
                                        <polyline points="9 18 15 12 9 6"></polyline>
                                    </svg>
                                </a>
                            </div>
                            <div class="tile-overlay"></div>
                        </article>
                    </div>
                </div>
            </div>


        </div>
    </div>
{% endblock %}